.pokedex{
    flex-direction: row;
    height: 100vh;
    flex-wrap: wrap;
    .pokedex__container{
        flex-direction: column;
        width: 80%;
        height: 80%;
        gap: 2em;
        top: 30%;
        right: 0;
        left: 0;
        margin: 0auto;
        .pokedex__img{
            max-width: 700px;
            filter: drop-shadow(0px 0px 10px #fff);

        }
        .pokedex__welcome{
            color: #f00;
            font-size: 2em;
        }
        .pokedex__text{
            color: rgb(0, 253, 253);
            font-size: 1.5em;
            font-weight: 600;
            filter: drop-shadow(0px 0px 10px #fff);
        }
        .pokedex__form{
            gap: 1.5em;
            flex-wrap: wrap;
            .pokedex__input{
                width: 500px;
                height: 68px;
                text-align: center;
                color: #f00;
                border: 3px solid rgb(1, 4, 5);
                border-radius: 30px;
            }
            .pokedex__btn{
                height: 68px;
                border: 3px solid rgb(0, 0, 0);
                padding: 1em;
                background-color: #ff0000;
                color: #000000;
                font-weight: 800;
                box-shadow: 0px 0px 10px 2px rgb(0, 0, 0);
                border-radius: 30px;
                transition: all 1s;
                &:hover{
                    background-color: #000000;
                    color: #ffffff;
                    box-shadow: 0px 0px 10px 2px rgb(255, 0, 0);
                }
            }
        }
    }
    .pokedex__footer{
        flex-direction: column;
        width: 100%;
        height: 20%;
        .pokedex__red-line{
     
            background-color: #f00;
            width: 100%;
            height: 65%;
            
        }
        .pokedex__black-line{
            
            background-color: #000;
            width: 100%;
            height: 35%;
        }
    }
}
